
<h1 class="title text-center h1-responsive">Geek Flix</h1>
<div *ngIf="movies">
  <div class="container">
    <div class="row">
      <!-- Loop Popular movies, limit result with slice -->
      <div
        class="col-4 col-md-4 col-lg-3 my-3 px-2 px-md-4"
        *ngFor="let movie of movies"
        [class.selected]="movie === selectedMovie"
        >
        <div>
          <a  routerLink="/movie-detail/:id{{ movie.name }}">

           <img src="{{ movie.image }}" 
           class="img-responsive" 
           alt="Responsive image"
           title="{{ movie.name }}"
           alt="{{ movie.name }}"
           />
          </a>
            
            <h3>{{  movie.name | uppercase}}</h3>
            <p>{{  movie.desc}}<p>
              
            </div>
    </div>
      </div>
      </div>



